$darkBg: rgb(19, 8, 49);
$lightBg: whitesmoke;
$gradientBg: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);

@mixin fontFamily {
	font-family: 'Work Sans', sans-serif;
}
@mixin centerComponent {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin createFlexbox($direction, $justifyContent, $alignItems) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: nowrap;
	justify-content: $justifyContent;
	align-items: $alignItems;
}
@mixin navLinks {
	ul {
		@include createFlexbox(row, space-between, center);
		justify-content: flex-end;
		padding-right: 1em;
		li {
			@include centerComponent();
			list-style: none;
			a {
				color: rgb(49, 30, 83);
				text-decoration: none;
				font-size: 1.5rem;
				font-weight: 400;
				padding: 0.5rem;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
