@import './variables';

footer {
	margin-top: 2em;

	background-color: $darkBg;
	color: $lightBg;
	height: 10vh;

	@include createFlexbox(row, space-between, center);

	p {
		padding-left: 2em;
	}

	a {
		color: $lightBg;
		text-decoration: none;
	}

	@include navLinks();
}
