@import './_variables.scss';
header {
	@include fontFamily();

	background-color: #4158d0;
	background-image: linear-gradient(45deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
	top: 0;
	max-height: 10vh;
	@include createFlexbox(row, space-between, center);

	h1 {
		@include fontFamily();
		justify-content: flex-start;
		color: $lightBg;
		padding-left: 1em;
	}

	@include navLinks();
}
