<link rel="stylesheet" href="<%= assetPath('css/user_profile.css')%>">
<style>
  .credits {
    margin: 2em;
  }

  .credits p {
    margin-bottom: 0;
    ;
  }

  a {
    text-decoration: none;
    color: whitesmoke
  }
</style>

<div class="credits">
  <p>
    Sign In Page Background - Photo by <a href="https://unsplash.com/@fakurian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fakurian Design</a> on <a href="https://unsplash.com/backgrounds/colors/gradient?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

  <br>
  <a href="https://www.flaticon.com/free-icons/speech-bubble" title="speech bubble icons">Speech bubble icons created by Freepik - Flaticon</a>
  <br><br>

  <a href="https://www.freepik.com/vectors/design">Design vector created by coolvector - www.freepik.com</a>
  <br><br>
  <a href="https://www.freepik.com/psd/mockup">Mockup psd created by freepik - www.freepik.com</a>
  <br><br>
  All icons from <a href="https://fontawesome.com/">Font Awesome</a>
</div>