<link rel="stylesheet" href="/css/home.css">

<% if (locals.user) { %>
<div id="home-container">
  <section id="feed-posts">
    <h4>
      Posts
    </h4>

    <% if (locals.user) { %>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required id="new-post-textarea"></textarea>
      <input type="submit" value="Post">
    </form>
    <% } %>


    <div id="posts-list-container">
      <ul>
        <%- include('./partials/_post') %>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(let u of all_users) { %>
    <p>
      <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
    </p>
    <% } %>

  </section>
</div>
<% } else { %>
<div id="landing-page">

  <img src="/images/mockup.png" alt="" height="500px" width=auto>
</div>

<a href="https://www.freepik.com/vectors/design">Design vector created by coolvector - www.freepik.com</a>
<a href="https://www.freepik.com/psd/mockup">Mockup psd created by freepik - www.freepik.com</a>
<% } %>



<script src="/js/home_likes.js"></script>
<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>