<link rel="stylesheet" href="/css/feed.css">

<h1> Here are your Posts : </h1>

<ul>
    <li>
        <h3>
            <%= userName %>
        </h3>
        <p>I really enjoy posting on InstaCode!</p>
        <div>
            <span>
                <%= likes %> Likes
            </span>
            <span>
                <%= comments %> Comments
            </span>
        </div>
    </li>
</ul>