<link rel="stylesheet" href="/css/user_profile.css">


<h1>Welcome to your Profile Page</h1>

<p>Name : <%= user.name %>
</p>
<p>Email : <%= user.email %>
</p>

<button><a href="/users/sign-out">Sign Out</a></button>