<h1>This is Sign Up page</h1>

<form action="/users/create" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" required placeholder="John Doe">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<p>
  <a href="/users/auth/google"> Sign Up with Google </a>
</p>