@import './variables.scss';

footer {
	background-color: darken($lightPurpleBg, 15%);
	color: $lightBg;
	height: 10vh;
	flex-shrink: 0;

	@include createFlexbox(row, space-between, center);

	p {
		padding-left: 2em;
	}

	a {
		color: $lightBg;
		text-decoration: none;
	}

	@include navLinks();
}

.link {
	color: $lightBg;
	text-decoration: none;
}
