@import './_variables.scss';

#home-container {
	display: flex;
	flex-direction: row;
	background-color: darken($lightPurpleBg, 15%);
	background-size: 300%;
	color: whitesmoke;

	#feed-posts {
		width: 75%;
		padding-left: 3em;
		padding-right: 3em;

		.create-new-post {
			background-color: $darkPurpleBg;
			border-radius: 0.5em;
			height: 5em;
			@include centerComponent();
			padding-right: 1em;

			img {
				border-radius: 50%;
				width: 3em;
				padding-right: 0.5em;
			}
			i {
				font-size: 2em;
				padding-left: 0.5em;
				padding-right: 0.5em;
			}

			#btn-trigger-modal {
				width: 90%;
				text-align: left;
				background-color: #444658;
				border: none;
				color: whitesmoke;
			}

			.modal-content {
				background-color: $darkPurpleBg;

				.modal-header,
				.modal-body,
				.modal-footer {
					border: none;
				}

				.btn-close {
					background-color: whitesmoke;
					opacity: 1;
				}

				.modal-title {
					font-weight: bold;
					text-align: center;
				}

				textarea {
					width: 100%;
					height: 8em;
					border: none;
					border-radius: 0.25em;
					padding-left: 0.5em;
					padding-right: 0.5em;
					font-size: 1em;
					background-color: $darkPurpleBg;
					color: whitesmoke;
				}

				textarea:focus {
					outline: none;
				}
			}
		}

		#posts-list-container {
			ul {
				list-style-type: none;
				padding-left: 0;
				li {
					background-color: $darkPurpleBg;
					margin-top: 1em;
					margin-bottom: 1em;
					width: 100%;
					border-radius: 0.5em;
					padding: 1em;

					.post-header {
						@include centerComponent();
						flex-wrap: nowrap;
						justify-content: flex-start;
						img {
							border-radius: 50%;
							width: 3em;
							padding-right: 0.5em;
						}
						i {
							font-size: 2em;
							padding-left: 0.5em;
							padding-right: 0.5em;
						}

						a {
							margin-left: auto;
							display: inline;
							color: whitesmoke;
							text-decoration: none;

							i {
								font-size: 1em;
							}
						}
					}

					.post-content {
						margin: 1em 0 1em 0;
					}

					.like-button {
						text-decoration: none;
						color: whitesmoke;
						font-size: 1.25em;
						padding-right: 1em;

						.fas {
							color: $lightPink;
						}
					}

					.fa-comment-dots {
						font-size: 1.25em;
					}

					.post-comments {
						textarea {
							width: 100%;
							height: 2.5em;
							text-align: left;
							cursor: text;
							border: none;
							border-radius: 0.25em;
							padding-left: 0.5em;
							padding-right: 0.5em;

							font-size: 1em;
							background-color: #444658;
							color: whitesmoke;
						}

						textarea:focus {
							outline: none;
							box-shadow: none;
						}

						li {
							height: 3em;
						}

						.comment {
							@include centerComponent();
							h6 {
								margin-right: 1em;
								margin-bottom: 0;
							}
							img {
								border-radius: 50%;
								width: 3em;
								padding-right: 0.5em;
							}
							i {
								font-size: 2em;
								padding-left: 0.5em;
								padding-right: 0.5em;
							}

							.like-button {
								margin-left: auto;
								i {
									font-size: 0.75em;
								}
							}
							.delete-comment-button {
								font-size: 0.5em;
								color: whitesmoke;
							}
						}
					}
				}
			}
		}
	}
	#user-friends {
		width: 25%;
		padding: 1em;
		border-left: 1px solid lightgray;
		a {
			text-decoration: none;
			color: whitesmoke;
		}
	}

	textarea {
		resize: none;
	}
}

#landing-page {
	height: 100vh;
	// background-color: #28262c;
	background-color: $darkPurpleBg;
	background-size: 300%;

	overflow-y: hidden;

	.block {
		width: 100%;
		height: 85%;
		background-image: $gradientBg;
		background-size: 400%;
		animation: bg-animation 5s infinite alternate;
		transform: skewY(-12deg);
		transform-origin: 0;
		position: absolute;
		top: 0;

		span {
			height: 190px;
			position: aboslute;
		}
	}

	.landing-page-text {
		position: relative;
		height: 80%;
		display: flex;
		margin: 1em 0 0 5em;
		flex-direction: column;
		justify-content: center;
		color: white;
		max-width: 1024px;

		h1 {
			font-size: 5em;
			font-weight: bold;
		}
		p {
			font-size: 1.5em;
		}

		.button-area {
			position: relative;
			max-width: 320px;

			a {
				background: #f5f5f5;
				border-radius: 0.5em;
				font-size: large;
			}
		}
	}

	.image-wrapper {
		position: absolute;
		top: 2em;
		right: -8em;

		padding: 1em;
		border-radius: 10%;
		img {
			width: 70vw;
		}
	}

	#made-by-me {
		position: absolute;
		bottom: 0.1em;
		left: 1em;
		font-size: 0.8em;
		color: whitesmoke;

		a {
			color: whitesmoke;
			text-decoration: none;
		}
	}
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

@media (max-width: 768px) {
	#landing-page {
		.landing-page-text {
			margin: 1em 0 0 1em;
			text-align: center;
			.button-area {
				max-width: none;
			}
		}
		.image-wrapper {
			position: absolute;
			top: 55vh;
			right: -3em;

			img {
				width: 90vw;
			}
		}
	}
}

@media (max-width: 576px) {
	body {
		overflow-x: hidden;
	}
	#landing-page {
		.landing-page-text {
			margin: 1em 0 0 1em;
			text-align: center;
		}
		.image-wrapper {
			position: absolute;
			top: 60vh;
			right: -3em;

			img {
				width: 100vw;
			}
		}

		#made-by-me {
			left: 22%;
		}
	}

	#home-container {
		#feed-posts {
			width: 100%;
			padding: 0;
			.create-new-post {
				#btn-trigger-modal {
					width: 80%;
				}
			}
			#posts-list-container {
				ul {
					li {
						.post-comments {
							.col {
								display: inline;
							}
							.col-md-10 {
								width: 65%;
							}
							.col-md-1 {
								width: 10%;
							}
							li {
								height: auto;
							}
							.comment {
								.like-button {
									flex-shrink: 0;
								}
							}
						}
					}
				}
			}
		}
		#user-friends {
			display: none;
		}
	}
}
